import(methods, Biobase)
importFrom(graphics, plot)
import(stats)

useDynLib(GeneSelector)

exportClasses("GeneRanking", "FoldMatrix", "BootMatrix", "RepeatedRanking",
              "StabilityOverlap", "StabilityDistance", "StabilityUnion", 
"AggregatedRanking", "GeneSelectorOutput")


exportMethods("show", "summary", "toplist", "plot", "SelectedGenes", 
                "RankingBaldiLong", "RankingBstat",
                "RankingEbam", "RankingFC", "RankingFoxDimmic", "RankingLimma", "RankingPermutation",
                "RankingSam", "RankingShrinkageT", "RankingSoftthresholdT",
                "RankingTstat", "RankingWelchT", "RankingWilcEbam", "RankingWilcoxon",
                "GenerateFoldMatrix", "GenerateBootMatrix",
                "RepeatRanking", "GetStabilityOverlap", "GetStabilityDistance", "GetStabilityUnion", 
		"AggregateSimple", "AggregatePenalty", "AggregateMC", "AggregateSVD", "GeneSelector",
                 "HeatmapRankings", "MergeRankings", "MergeMethods", "dispersion")

export("samplingcontrol")





