import(methods, Biobase)
importFrom(graphics, plot)
import(stats)

exportClasses("GeneRanking", "FoldMatrix", "BootMatrix", "RepeatRanking",
              "StabilityLm", "StabilityOverlap", "AggregatedRanking", "CombinedRanking",
               "StabilityGLM", "PCAMethodsResult", "StabilityPCA")


export("RecoveryScore", "AdjustPvalues", "GetAlpha", "samplingcontrol", "HeatmapMethods", "GeneSelector", "PCAMethods")


exportMethods("show", "summary", "toplist", "plot", "join","SelectedGenes", "GeneInfoScreen",
                "RankingBaldiLong", "RankingBstat",
                "RankingEbam", "RankingFC", "RankingFoxDimmic",
                "RankingGap", "RankingLimma", "RankingPermutation",
                "RankingSam", "RankingShrinkageT", "RankingSoftthresholdT",
                "RankingTstat", "RankingWelchT", "RankingWilcEbam", "RankingWilcoxon",
                "GenerateFoldMatrix", "GenerateBootMatrix",
                "GetRepeatRanking", "GetStabilityLm", "GetStabilityOverlap", "AggregateBayes", "AggregateSimple",
                "variance", "AggregatePenalty", "AggregatePCA", "GetStabilityPCA", "GetStabilityGLM")





